<div class="container">
  <!-- Повідомлення вгорі -->
  <div class="message-banner">
    <mat-icon color="warn">info</mat-icon>
    <span>Ви збираєтесь виконати власну команду, ми не можемо гарантувати її успішність. Будьте обережні з вашим запитом</span>
  </div>

  <div class="top-actions">
    <button class="create-button" mat-flat-button>Створити з'єднання</button>
  </div>

  <div class="role-section">
    <div class="commands">
      <div class="header d-flex justify-content-between">
        <h2>Команда</h2>
      </div>
      <div class="brick">
        <mat-list>
          <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="connections">
      <div class="header d-flex justify-content-between">
        <h2>{{ 'home.connections' | translate }}</h2>
      </div>

      <div class="connection-controls">
        <mat-form-field class="search-field" appearance="outline">
          <input matInput placeholder="Назва команди">
        </mat-form-field>
      </div>

      <div class="brick">
        <mat-list>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <!-- Повтори для інших елементів з'єднання -->
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="select-button" (click)="confirmConnections()">Обрати</button>
  </div>
</div>
