<div class="page-layout carded fullwidth inner-scroll configuration-page">
  <!-- TOP BACKGROUND -->
  <div class="top-bg"></div>

  <!-- CENTER -->
  <div class="center pb-2">
    <!-- HEADER -->
    <div class="header-container">
      <div class="title-section">
        <h2 class="title">Створити команду</h2>
        <p class="subtitle secondary-text">Створення нової команди</p>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mt-0">
      <form [formGroup]="commandForm" class="command-form">
        <div class="form-group">
          <input id="name" type="text" formControlName="name" placeholder="Назва"/>
        </div>

        <div class="form-group">
          <input id="type" type="text" formControlName="type" placeholder="Тип"/>
        </div>

        <div class="hint-container d-flex" [class.expanded]="hintWindowsIsOpen">
          <button class="ask-button" mat-flat-button (click)="toggleChat()">
            <ng-container *ngIf="!hintWindowsIsOpen">Запитати AI</ng-container>
            <ng-container *ngIf="hintWindowsIsOpen">✕</ng-container>
          </button>

          <div class="chat-box" *ngIf="hintWindowsIsOpen">
            <kendo-chat
              [user]="user"
              [messages]="messages"
              (sendMessage)="sendMessage($event)"
            ></kendo-chat>

            <div class="chat-error d-flex justify-content-between">
              <span> Ваша команда стосується чорного списку та може бути небезпечною. Спробуйте інший запит!</span>
              <mat-icon>info</mat-icon>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input id="command" type="text" formControlName="command" placeholder="Команда"/>
        </div>

        <button class="create-button" mat-flat-butto (click)="navigateToNext()">
          Наступний крок
        </button>
      </form>
    </div>
  </div>
</div>
