<div class="content">
  <div class="confirmation-page">
    <div class="header">Вітаємо! Ви успішно створили команду. Короткий підсумок нижче:</div>

    <div class="summary d-flex justify-content-between">
      <div class="entities">
        <div class="section">
          <div class="section-title">Команда:</div>
          <div>{{ command }}</div>
        </div>
        <div class="section">
          <div class="section-title">З'єднання:</div>
          <div>{{ connection }}</div>
        </div>
      </div>

      <div class="description">
        <div class="section">
          <div class="section-title">Що буде виконано:</div>
          <div>{{ description }}</div>
        </div>
      </div>
    </div>

    <div class="footer d-flex justify-content-between">
      <div class="warning">
        <strong>Увага!</strong> Буде виконано <strong>кастомну команду</strong>. Будь ласка, перевірте налаштування перед підтвердженням.
      </div>

      <div class="actions">
        <button class="confirm-button" (click)="confirmAction()">Так, підтверджую</button>
      </div>
    </div>
  </div>
</div>
