<div class="page-layout carded fullwidth inner-scroll configuration-page">
  <!-- TOP BACKGROUND -->
  <div class="top-bg"></div>

  <!-- CENTER -->
  <div class="center pb-10">
    <!-- HEADER -->
    <div class="header-container">
      <div class="title-section">
        <h2 class="title">{{ 'connections.title' | translate }}</h2>
        <p class="subtitle secondary-text">{{ 'connections.subtitle' | translate }}</p>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <form [formGroup]="filterForm" class="filter-form d-flex flex-wrap align-items-center justify-content-between">
        <div class="filter-item">
          <mat-form-field appearance="outline">
            <input (input)="applyFilters()" matInput formControlName="name" placeholder="{{ 'connections.namePlaceholder' | translate }}">
          </mat-form-field>
        </div>

        <div class="filter-item">
          <mat-form-field appearance="outline">
            <input (input)="applyFilters()" matInput formControlName="host" placeholder="{{ 'connections.hostPlaceholder' | translate }}">
          </mat-form-field>
        </div>

        <div class="filter-item">
          <mat-form-field appearance="outline">
            <input (input)="applyFilters()" matInput formControlName="username" placeholder="{{ 'connections.usernamePlaceholder' | translate }}">
          </mat-form-field>
        </div>

        <!-- Buttons -->
        <div class="filter-buttons">
          <button (click)="resetFilters()" class="btn btn-dark">
            {{ 'buttons.reset' | translate }}
          </button>

          <button (click)="openDialog(null)" class="btn btn-dark">
            {{ 'buttons.add' | translate }}
          </button>
        </div>
      </form>

      <!-- Connections Table -->
      <div class="content">
        <app-connection-table
          [connections]="connections"
          [errorMessage]="'connections.noAvailable' | translate"
          [disabled]="false"
        ></app-connection-table>
      </div>
    </div>
  </div>

  <!-- Pagination at the Bottom -->
  <div class="pagination-container">
    <mat-paginator
      #paginator
      [length]="totalItems"
      [pageIndex]="0"
      [pageSize]="15"
      [pageSizeOptions]="[5, 15, 50, 100]"
      (page)="onPageChange($event)"
      class="configuration-table-paginator"
    >
    </mat-paginator>
  </div>
</div>
