<div class="content">
    <div class="role-section mt-5">
        <div class="commands">
            <h2>{{ 'home.command' | translate }}</h2>
            <div class="brick">
                <mat-list>
                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testCommand' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </div>
        </div>

        <div class="connections">
            <h2>{{ 'home.connections' | translate }}</h2>
            <div class="brick">
                <mat-list>
                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item">{{ 'home.testConnection' | translate }}</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </div>
        </div>
    </div>

    <div class="statistic">
        <app-statistics></app-statistics>
    </div>
</div>
