<div class="content">
    <div class="role-section">
        <div class="commands">
            <h2>Commands</h2>
            <div class="brick">
                <mat-list>
                    <!-- <mat-list-item class="item" *ngFor="let command in commands">{{command.terminalCommand}}</mat-list-item>
                        <mat-divider></mat-divider> -->

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test command </mat-list-item>
                    <mat-divider></mat-divider>

                </mat-list>
            </div>
        </div>

        <div class="connections">
            <h2>Connections</h2>
            <div class="brick">
                <mat-list>
                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>

                    <mat-list-item class="item"> Test Connection </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>

            </div>
        </div>
    </div>

    <div class="statistic">
        <app-statistics></app-statistics>
    </div>
</div>