<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-3 mb-2">
            <div class="card metric-card text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-users me-2"></i>Connections amount
                    </h5>
                    <p class="card-text display-4">12</p>
                    <p class="card-text">Connections count</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-project-diagram me-2"></i>Commands amount
                    </h5>
                    <p class="card-text display-4">13</p>
                    <p class="card-text">Commands count</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card  text-white">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-user-plus me-2"></i>Connections made
                    </h5>
                    <p class="card-text display-4"> 14 </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <div class="card metric-card text-dark">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-smile me-2"></i>Commands executed
                    </h5>
                    <p class="card-text display-4">123</p>
                </div>
            </div>
        </div>
    </div>
</div>