.card{
    width: 16vw;
    background-color: gray;
    margin-top: 16px;
}
.container{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    width: 88vw;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}