<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="d-flex">
        <div class="offcanvas-body">
            <div class="category-container">
                <div class="category-title">
                    <button [routerLink]="'/available-cars'" class="btn" data-bs-dismiss="offcanvas">З'єднання <span>&gt;</span></button>
                </div>
                <div class="category-title">
                    <button [routerLink]="'/available-cars'" class="btn" data-bs-dismiss="offcanvas">Команди <span>&gt;</span></button>
                </div> 
                <div class="category-title">
                    <button [routerLink]="'/about-us'" class="btn" data-bs-dismiss="offcanvas">Історія<span>&gt;</span></button>
                </div>
                <div class="category-title">
                    <button [routerLink]="'/career'" class="btn" data-bs-dismiss="offcanvas">Інструкція<span>&gt;</span></button>
                </div>
            </div>
        </div>
    </div>
</div>