<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="d-flex">
        <div class="offcanvas-body">
            <div class="category-container">
                <div class="category-title">
                    <button [routerLink]="'/connections'" class="btn" data-bs-dismiss="offcanvas">
                        {{ 'sidebar.connections' | translate }} <span>&gt;</span>
                    </button>
                </div>
                <div class="category-title">
                    <button [routerLink]="'/available-cars'" class="btn" data-bs-dismiss="offcanvas">
                        {{ 'sidebar.commands' | translate }} <span>&gt;</span>
                    </button>
                </div> 
                <div class="category-title">
                    <button [routerLink]="'/about-us'" class="btn" data-bs-dismiss="offcanvas">
                        {{ 'sidebar.history' | translate }} <span>&gt;</span>
                    </button>
                </div>
                <div class="category-title">
                    <button [routerLink]="'/career'" class="btn" data-bs-dismiss="offcanvas">
                        {{ 'sidebar.instructions' | translate }} <span>&gt;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
