<h2 mat-dialog-title>
  Потенційно небезпечна команда
  <mat-icon style="font-size: 22px; vertical-align: middle; color: red; margin-left: 12px;">info</mat-icon>
</h2>
<mat-dialog-content>
  <div class="text">
    <span>Ваша команда не входить до білого списку, і ми не гарантуємо її успішність.</span>
    <span> Бажаєте продовжити?</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Ні</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Так</button>
</mat-dialog-actions>
