.navbar {
    background-color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo-text:hover {
    color: #666;
}


a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo-text{
        font-size: 16px;;
    }
}