.navbar {
    color: black;
    display: flex;
  }
  
  .btn {
    display: flex;
    align-items: center; /* Align items vertically in the button */
  }
  
  .btn-icon-burger {
    width: 40px;
    height: 40px;
  }
  
  .menu-text {
    margin-left: 10px; /* Adjust the margin based on your design */
  }
  
  .brand-text {
    margin-left: auto; /* Push the brand text to the right */
  }
  