<div class="container">
    <form>
  
      <div class="main-text">Сторінка реєстрації</div>
      <div class="form-group">
        <label for="exampleInputEmail1">Ім'я користувача</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp"
          placeholder="Enter username" name="username" [(ngModel)]="registrationModel.username">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Введіть email" name="email" [(ngModel)]="registrationModel.email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введіть пароль" name="password"
          [(ngModel)]="registrationModel.password">
      </div>
      <button type="submit" (click)="onRegistration()" class="btn btn-dark">Зареєструватися</button>
      <a routerLink="/login"><small id="emailHelp" class="form-text text-muted">Вже маєте акаунт? Увійдіть.</small></a>
  
    </form>
    {{errorMessage}}
  </div>